@charset "UTF-8";
/* Переменные */
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.wrap {
  width: 1140px;
  margin: 0 auto;
}

.header {
  background-color: #222222;
  color: #E8E8E8;
}

.header-icon-logo {
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.header-icon-logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header-icon svg {
  fill: #F8F8F8;
  -webkit-transition: background-color 0.25s, fill 0.25s;
  transition: background-color 0.25s, fill 0.25s;
}

.header-icon:hover svg {
  fill: #F16D7F;
}

.header-search, .header-menu {
  background-color: transparent;
  border: none;
}

.wrap-header {
  padding: 18px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-icon {
  position: relative;
  margin-right: 10px;
}

.cart-number {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F16D7F;
  color: #fff;
  font-size: 12px;
}

.main-nav {
  width: 232px;
  height: 760px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #FFFFFF;
  -webkit-box-shadow: 6px 4px 5px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 5px rgba(0, 0, 0, 0.21);
  position: absolute;
  right: 0;
  top: 80px;
  color: #000000;
  --webkit-transform-origin: top-right;
  -webkit-transform-origin: top-right;
          transform-origin: top-right;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-nav--close {
  display: none;
}

.main-nav-box {
  position: absolute;
  right: 0;
}

.main-nav-close {
  position: absolute;
  border: none;
  background-color: #FFFFFF;
  right: 16px;
  top: 1px;
  cursor: pointer;
}

.main-nav-title {
  position: absolute;
  right: 143px;
  color: #000000;
  top: 37px;
  font-weight: 700;
}

.main-nav-list {
  position: absolute;
  top: 78px;
  right: 183px;
}

.main-nav-item {
  position: absolute;
  list-style-type: none;
}

.main-nav-item:nth-child(2) {
  top: 100px;
}

.main-nav-item:nth-child(3) {
  top: 200px;
}

.main-nav-item a {
  font-weight: 400;
  color: #F16D7F;
  text-decoration: none;
}

.sublime-list {
  position: absolute;
  padding: 12px;
}

.sublime-item {
  list-style-type: none;
}

.sublime-item a {
  font-weight: 400;
  color: #6F6E6E;
  text-decoration: none;
}

.left-header, .right-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 20px;
}

.promo {
  background-color: #F1E4E6;
  color: #222222;
}

.wrap-promo {
  background-image: url(../img/promo.png);
  background-repeat: no-repeat;
  background-position-x: -225px;
  min-height: 765px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.title-promo {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  margin-right: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title-promo--smile {
  font-weight: 700;
  font-size: 32px;
  line-height: 28px;
}

.title-promo--pink {
  color: #F16D7F;
}

.content {
  background-color: #F8F8F8;
  color: #222222;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wrap-content {
  padding: 65px 0 100px 0;
}

.wrap-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.categories-item {
  text-decoration: none;
  background-color: #C4C4C4;
  width: 360px;
  height: 260px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.categories-item--women {
  background-image: url("../img/women.jpg");
  background-repeat: no-repeat;
}

.categories-item--men {
  background-image: url("../img/men.jpg");
  background-repeat: no-repeat;
}

.categories-item--kids {
  background-image: url("../img/kids.jpg");
  background-repeat: no-repeat;
}

.categories-item--accesories {
  background-image: url("../img/accesories.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 180px;
  margin-top: 30px;
}

.categories-sale {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #FFFFFF;
}

.categories-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #F16D7F;
}

.items-text {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  font-weight: 400;
}

.items-title {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.items-description {
  font-weight: 400;
  line-height: 17px;
  color: #9f9f9f;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.item {
  position: relative;
  width: 360px;
  height: 582px;
  background-color: #E5E5E5;
}

.item-overlay {
  display: none;
}

.item:hover .item-overlay {
  display: block;
  position: absolute;
  background-color: rgba(58, 56, 56, 0.829);
  width: 100%;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.item-btn--add {
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-family: inherit;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  cursor: pointer;
}

.item-btn--add svg {
  margin-right: 10px;
}

.item-text {
  padding: 20px;
}

.item-text a {
  text-decoration: none;
}

.item-title {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: black;
  -webkit-transition: background-color 0.25s, color 0.25s;
  transition: background-color 0.25s, color 0.25s;
}

.item-title:hover {
  color: #F16D7F;
}

.item-description {
  font-weight: 300;
  line-height: 17px;
  padding: 15px 0;
  color: #5d5d5d;
}

.item-price {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #f16d7f;
}

.items-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  margin-top: 65px;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.items-all--button {
  cursor: pointer;
  border: none;
  padding: 15px 40px;
  font-family: inherit;
  display: inline-block;
  text-decoration: none;
  outline: 1px solid #ff6a6a;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.items-all--button svg {
  padding-right: 10px;
  fill: #EF5B70;
}

.items-all--button:hover svg {
  padding-right: 10px;
  fill: #FFFFFF;
}

.items-all--button span {
  color: #f26376;
  background-color: #FFFFFF;
  -webkit-transition: background-color 0.25s, color 0.25s, border-radius 0.25s, -webkit-transform 0.25s;
  transition: background-color 0.25s, color 0.25s, border-radius 0.25s, -webkit-transform 0.25s;
  transition: background-color 0.25s, color 0.25s, transform 0.25s, border-radius 0.25s;
  transition: background-color 0.25s, color 0.25s, transform 0.25s, border-radius 0.25s, -webkit-transform 0.25s;
  display: block;
}

.items-all--button:hover {
  background-color: #F16D7F;
}

.items-all--button:hover span {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  color: #fff;
  background-color: #F16D7F;
  border-radius: 8px;
}

.advantages {
  background-color: #222224;
  color: #FBFBFB;
}

.wrap-advantages {
  padding: 100px 0;
}

.items-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 30px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  text-align: center;
}

.item-advantage {
  width: 360px;
  height: 135px;
}

.advantage-title {
  padding: 25px 0 16px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.advantage-description {
  font-weight: 300;
  line-height: 17px;
  color: #fbfbfb;
}

.feedback {
  background-color: rgba(244, 244, 244, 0.7);
  color: #222224;
  background-image: url(../img/feedback.png);
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-size: 100%;
}

.wrap-feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.review {
  padding: 97px 0 127px;
  width: 360px;
  height: 225px;
  text-align: center;
}

.review-text {
  padding-top: 30px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  font-style: italic;
}

.subscribe {
  padding: 150px 0 156px;
  width: 557px;
}

.subscribe-title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  color: #222224;
}

.subscribe-title--text {
  font-size: 18px;
  font-weight: 400;
  line-height: 0;
}

.subscribe-form {
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe-form-field {
  padding: 15px 80px 15px 20px;
  border: none;
  border-radius: 25px 0 0 25px;
  background-color: #E1E1E1;
}

.subscribe-form-field::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #222224;
}

.subscribe-form-field:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #222224;
}

.subscribe-form-field::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #222224;
}

.subscribe-form-field::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #222224;
}

.subscribe-form-button {
  padding: 15px;
  border: none;
  background-color: #F16D7F;
  color: #FFFFFF;
  font-weight: 400, Regular;
  border-radius: 0 25px 25px 0;
}

.footer {
  background-color: #222224;
  color: #FBFBFB;
}

.social-item {
  color: #222;
  background-color: #fff;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: background-color 0.25s, color 0.25s;
  transition: background-color 0.25s, color 0.25s;
}

.social-item:hover {
  color: #fff;
  background-color: #F16D7F;
}

.wrap-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 22px 0;
}

.right-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
}

.copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0px 0px 0px 0px);
}

/* 2 страница */
.information {
  background: #F8F3F4;
}

.wrap-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 0;
}

.title-information {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #f16d7f;
}

.bread {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}

.bread-link {
  text-decoration: none;
  color: #636363;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.bread-link::before {
  content: "  /  ";
  text-decoration: none;
  color: #636363;
  font-weight: 300;
}

.bread-link:first-child::before {
  display: none;
}

.bread--pink {
  font-weight: 700;
  color: #f16d7f;
}

.bread-link:hover {
  font-weight: 700;
  color: #222222;
}

.wrap-content--catalog {
  padding: 50px 0 100px;
}

.items-filters {
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-main {
  width: 360px;
  position: relative;
}

.filter-main[open] {
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter-overlay {
  background-color: #FFFFFF;
  position: absolute;
  padding: 16px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
  z-index: 15;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter-main--title {
  font-weight: 600;
  line-height: 17px;
  color: #000000;
  cursor: pointer;
  background-color: #F8F8F8;
  position: relative;
  z-index: 20;
  padding: 13px;
}

.filter-main--title svg {
  fill: black;
}

.filter-parametr svg {
  padding-left: 10px;
}

.filter-other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  font-weight: 400;
  line-height: 17px;
  color: #6f6e6e;
}

.filter-name, .filter-main--title, .filter-parametr {
  display: block;
}

.filter-parametr::--webkit-details-marker, .filter-name::--webkit-details-marker, .filter-parametr::--webkit-details-marker {
  display: none;
}

.filter-name {
  display: block;
  padding: 15px;
  border-left: 5px solid #F16D7F;
  border-bottom: 1px solid #EBEBEB;
  color: #6f6e6e;
  text-transform: uppercase;
}

.filter-item[open] .filter-name, .filter-main[open] .filter-parametr {
  color: #F16D7F;
}

.filter-main[open] .filter-main--title svg {
  fill: #F16D7F;
}

.filter-main[open] .filter-main--title {
  background-color: #FFFFFF;
}

.filter-name, .filter-main--title {
  display: block;
}

.filter-list {
  padding: 24px 0;
  list-style-type: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 11px;
}

.filter-item--btn {
  background-color: #FFFFFF;
  border: none;
  font-family: inherit;
  font-weight: 400;
  line-height: 17px;
  margin-left: 34px;
  cursor: pointer;
  color: #6f6e6e;
}

.filter-parametrs {
  position: relative;
}

.filter-sort {
  z-index: 10;
  position: absolute;
  padding: 10px 0;
  background-color: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter-sort--btn {
  margin: 5px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  list-style-type: none;
  font-family: inherit;
  font-weight: 400;
}

.filter-sort--btn input {
  margin-right: 10px;
  border: 1px solid #EBEBEB;
}

.pagination {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination-item {
  padding: 14px;
  border: 1px solid #ebebeb;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: #6f6e6e;
  -webkit-transition: background-color 0.25s, color 0.25s;
  transition: background-color 0.25s, color 0.25s;
}

.pagination-item--active {
  color: #EF5B70;
}

.pagination-item svg {
  fill: black;
  -webkit-transition: fill 0.25s;
  transition: fill 0.25s;
}

.pagination-item:hover svg {
  fill: white;
}

.pagination-item:hover {
  background-color: #222224;
  color: #FFFFFF;
}

/* 3 страница */
.slide {
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 65px;
}

.slide-button {
  border: none;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  background-color: #E1E1E1;
  text-decoration: none;
}

.slide-button svg {
  fill: black;
  -webkit-transition: fill 0.25s;
  transition: fill 0.25s;
}

.slide-button:hover svg {
  fill: #F16D7F;
}

.wrap-slide {
  text-align: center;
}

.content-product {
  margin-top: -65px;
}

.wrap-content--product {
  background-color: #FFFFFF;
}

.product {
  padding: 65px 293px;
  background-color: #FFFFFF;
  border: 1px solid #EAEAEA;
}

.items-product {
  padding: 125px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.product-title {
  text-align: center;
  font-weight: 300;
  line-height: 17px;
  color: #F16D7F;
  position: relative;
  padding-bottom: 15px;
}

.product-title::after {
  content: "";
  position: absolute;
  background-color: #F16D7F;
  width: 63px;
  height: 3px;
  display: block;
  margin: 0 auto;
  bottom: -3px;
  left: 0;
  right: 0;
}

.product-subtitle {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  padding: 12px 0 50px;
  color: #4D4D4D;
  text-align: center;
}

.product-text {
  font-weight: 300;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  padding-bottom: 35px;
}

.product-price {
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 65px;
  color: #EF5B70;
  text-align: center;
}

.filter-product {
  padding: 65px 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter-main--title div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-main--title svg {
  width: 15px;
  height: 10px;
}

@media (max-width: 1200px) {
  .wrap {
    width: 768px;
  }
  .wrap-promo {
    min-height: 365px;
    background-size: 50%;
    background-position-x: -25px;
  }
  .title-promo {
    font-size: 44px;
    line-height: 52px;
    padding-left: 16px;
    margin-right: 35px;
  }
  .title-promo--smile {
    font-size: 24px;
  }
  .categories-item {
    width: 232px;
    height: 167px;
  }
  .categories-item--accesories {
    width: 100%;
    height: 180px;
    margin-top: 30px;
  }
  .items-text {
    padding-top: 150px;
    padding-bottom: 70px;
  }
  .items {
    gap: 18px;
  }
  .items-advantages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrap-feedback {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .review {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .subscribe {
    padding-top: 0px;
    padding-bottom: 150px;
  }
  .product {
    padding: 65px 0;
    border: none;
  }
  .items-product {
    gap: 16px;
  }
  .item:last-child {
    display: none;
  }
  .content-product {
    margin-top: 0;
  }
  .items-filters {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .wrap {
    width: 375px;
  }
  .wrap-promo {
    background-image: none;
  }
  .title-promo {
    font-size: 38px;
    line-height: 45px;
    padding-left: 16px;
    margin-right: 56px;
  }
  .title-promo--smile {
    font-size: 20px;
    line-height: 24px;
  }
  .wrap-categories {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 32px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .categories-item {
    width: 343px;
    height: 247px;
  }
  .categories-item--accesories {
    width: 343px;
    height: 111px;
  }
  .subscribe {
    max-width: 375px;
  }
  .wrap-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .right-footer {
    padding: 40px 0;
  }
  .wrap-information {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .title-information {
    padding-bottom: 40px;
  }
  .wrap-slide img {
    width: 300px;
  }
  .content-product {
    margin-top: 65px;
  }
  .items-product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0;
    padding-bottom: 65px;
  }
  .subscribe {
    padding-bottom: 100px;
  }
  .filter-none {
    display: none;
  }
  .filter-main--title div svg {
    width: 25px;
    height: 20px;
  }
  .filter-main[open] {
    width: 360px;
  }
  .filter-main {
    width: 50px;
  }
  .filter-other {
    gap: 15px;
    z-index: 5;
    padding-left: 75px;
    position: absolute;
  }
}
/*# sourceMappingURL=style.css.map */